@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    --background: rgb(0, 150, 199);
    --color: rgb(0, 119, 182);
    --colorcheck: rgb(2, 62, 138);
    --colortext: rgb(202, 240, 248);
    --colortitle: rgb(72, 202, 228);
}

header {
    height: 20vh;
    width: 100vw;
    background: var(--color);
}

#logo {
    display: flex;
    height: 20vh;
    justify-content: center;
}

#logo img {
    height: 55vh;
    margin-top: -14vh;
    position:absolute;
}

#background {
    width: 100vw;
    height: 80vh;
    background: var(--background);
    display: flex;
}

#background img {
    margin-left: 14vh;
}

.button {
    align-items: center;
    display: flex;
    margin-left: 10vw;
    text-decoration: none;
}

button {
    height: 10vh;
    width: 40vw;
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
    transition: 1s;
}

button:hover {
    color: var(--colortext);
    background: var(--colorcheck);
    width: 42vw;
    height: 12vh;
    transition: 1s;
}

#background h1 {
    color: white;
    background: black;
}

#background h1 {
    padding: 2vh;
    border-radius: 10px;
    background: var(--colorcheck);
    width: 100vh;
    height: 10vh;
    display: flex;
    align-items: center;
}
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#d3d3d3; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

